#ky-nav.ky-nav.ky-fixed
    .ky-nav__container
        h1
            a(href='www.2345cn.com') name
        ul.ky-nav__wrap
         mixin lia(href, name)
           li
             a(class!=attributes.class, href=href)= name
         +lia('./','首页')(class='current')
         +lia('./other.html','其他')
         +lia('./more.html','更多')


