extends includes/layout
block title
    title 首页
block links
    link(rel='stylesheet', href='../css/basePc.css')
    link(rel='stylesheet', href='../css/detail.css')
block content_main
    include ./includes/nav
    .ky-main
        h2 我是
    include ./includes/footer

