doctype html
html
  head
    mate(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='description', content='技术分享,web前端,2345cn,php,生活,教育,汽车,娱乐')
    //- link(rel='icon', href='../../favicon.ico')
    title= title
    //- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/index.css')
    //- <!--[if lt IE 9]><script src="http://code.jquery.com/jquery-latest.js"><script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"><![endif]-->
    link(rel='stylesheet', href='../css/g_base.min.css')
    link(rel='stylesheet', href='../css/aa/base2.min.css') 
  body
     block content_main
      