@charset "UTF-8";
@function strip-units($number){
  @return $number / ($number * 0 + 1);
}
$base-font-size: 16px !default;
@function rem($target-size,$context:$base-font-size){
  @if not unitless($target-size){
    $target-size: strip-units($target-size);    }
  @if not unitless($context){
    $context: strip-units($context);
  }
  @return ($target-size / $context) * 1rem;
}
@mixin cssRestWX(){
  //--------------rem换算---------
  /*css Reset start*/
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
  body {width:100%;height:100%;font-family: Arial,"Microsoft YaHei","SimHei"; line-height:1.5;}
  html {
    width:100%;
    height:100%;
    font-size:62.5%;
    // -webkit-text-size-adjust: 100%
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -o-text-size-adjust:none;
    -ms-text-size-adjust:none;
    text-size-adjust:none;
  }
  //p{
  //  text-align:justify;
  //  text-align-last:justify;
  //  -moz-text-align-last:justify;
  //}
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block;
  }
  mark{background-color:inherit;}
  h1,h2,h3,h4,h5{font-size:100%;font-weight: normal;}
  ol,ul{list-style:none;}
  em { font-style:normal; }
  input, button, select, textarea { outline:none; }
  textarea { resize:none; }
  a{ color:#666; text-decoration:none;}
  a:hover{ color:#666; text-decoration:none;}
  a:link,a:visited,a:focus{ text-decoration: none; outline: none}
  img{ border:0; vertical-align:middle }
  *{
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }
  .clearfix:before, .clearfix:after {
    display: table; content: "";
  }
  .clearfix:after {
    clear: both;
  }
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
  /*css Reset end!*/

}
//
@mixin cssRest1(){
  article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
  }
  html,body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin:0 auto;
  }

  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
  }
  body {
    color: #333;
    font-family: "微软雅黑";
    line-height: 1.5;
    background-color: #f2f2f2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  }
  .pop-windows-root{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }
  .pop-windows-mask {
    background-color: #fff;
    opacity: .9;
    z-index: 1011;
  }
  .fragment-scroller{
    overflow: auto;
    -webkit-overflow-scrolling:touch;
  }

  @media (min-width: 320px) {
    html {
      font-size: 16px;
    }
  }
  @media (max-width: 320px) {
    html {
      font-size: 14px;
    }
  }
  fieldset, img { border:0;}
  ol, ul { list-style:none;
    -webkit-touch-callout: none;
    touch-callout: none;}
  h1, h2, h3, h4, h5, h6{ font-size:100%; }
  em { font-style:normal; }
  input, button, select, textarea { outline:none; }
  textarea { resize:none; }
  a{ color:#666; text-decoration:none;}
  a:hover{ color:#666; text-decoration:none;}
  a:link,a:visited,a:focus{ text-decoration: none; outline: none}
  *,*:after,*:before{-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
  }
  /*清除浮动*/
  //.clearfix:after{
  //  content:"";
  //  visibility:hidden;
  //  height:0;
  //  display:block;
  //  clear:both;
  //}
  .clearFix:before, .clearFix:after { display: table; content: ""; line-height: 0; }
  .clearFix:after { clear: both; }

}
body{
  background-color: #f80;
}