extends includes/layout
block title
    title 首页
block links
    link(rel='stylesheet', href='../css/basePc.css')
    link(rel='stylesheet', href='../css/index.css')
block content_main
    include ./includes/nav
    .ky-main
        h2 测试2
    include ./includes/footer
    script(src="../js/index.js",type="text/javascript")


