//所有页面的样式链接都在这个文件,做判断加载独立的样式
//后期实现默认每个页面都加载公共基础样式,然后根据文件名加载对应的样式文件
//mixin link(href)
//    link(rel='stylesheet', href=href)
//+link('../css/aa/base2.min.css')
//link(rel='stylesheet', href='../css/aa/base2.min.css')
